#ap *{
    box-sizing: border-box;
}

.appt_type_container{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.appt_type_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: left;
}

.appt_type_title{
    padding-left: 70px;
    font-size: 20px;
}

.appt_type_description{
    padding-left: 70px;
    font-size: 16px;
}

.appt_type_provider_container{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.appt_type_provider_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: left;
}

.appt_type_provider_name{
    padding-left: 70px;
    font-size: 16px;
}

.appt_type_provider_location{
    padding-left: 70px;
    font-size: 16px;
}
.appt_type_provider_location::before{
    content: "Location";
    margin-right: 10px;
}

.appt_type_provider_phone{
    padding-left: 70px;
    font-size: 16px;
}
.appt_type_provider_phone::before{
    content: "Phone";
    margin-right: 10px;
}

.appt_type_provider_email{
    padding-left: 70px;
    font-size: 16px;
}
.appt_type_provider_email::before{
    content: "E-mail";
    margin-right: 10px;
}

.new_appt_tag{
    display: inline-block;
    width: 33.33%;
    height: 50px;
    line-height: 50px;
    color: #d8d8d8;
    text-align: center;
    border-bottom: 1px solid #000;
}
.new_appt_tag.clickable{
    cursor: pointer;
    color: #000;
}
.new_appt_tag.active{
    color: #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
}

.new_appt_container{
    border: 1px solid #000;
    border-top: none;
    display: none;
    padding-top: 10px;
}
.new_appt_container.active{
    display: block;
}

.register_or_sign_in{
    text-decoration: underline;
    cursor: pointer;
    color: #555;
}
.register_or_sign_in:hover{
    color: #000;
}

.confirm_appt_type_container{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.confirm_appt_type_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: left;
}

.confirm_appt_type_title{
    padding-left: 70px;
    font-size: 20px;
}

.confirm_appt_date_time{
    padding-left: 70px;
    font-size: 16px;
}

.confirm_appt_date_time>span{
    margin-right: 10px;
}

.confirm_appt_type_provider_container{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.confirm_appt_type_provider_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: left;
}

.confirm_appt_type_provider_name{
    padding-left: 70px;
    font-size: 16px;
}

.confirm_appt_type_provider_location{
    padding-left: 70px;
    font-size: 16px;
}
.confirm_appt_type_provider_location::before{
    content: "Location";
    margin-right: 10px;
}

.confirm_appt_type_provider_phone{
    padding-left: 70px;
    font-size: 16px;
}
.confirm_appt_type_provider_phone::before{
    content: "Phone";
    margin-right: 10px;
}

.confirm_appt_type_provider_email{
    padding-left: 70px;
    font-size: 16px;
}
.confirm_appt_type_provider_email::before{
    content: "E-mail";
    margin-right: 10px;
}

.confirm_note{
    width: 100%;
    height: 50px;
    resize: none;
    margin-bottom: 10px;
}

.appt_time_selecter{
    max-width: 500px;
    margin: auto;
    padding: 5px;
}

.appt_time_selecter_tag{
    display: inline-block;
    width: 50%;
    height: 50px;
    line-height: 50px;
    color: #d8d8d8;
    text-align: center;
    border-bottom: 1px solid #000;
}
.appt_time_selecter_tag.clickable{
    cursor: pointer;
    color: #000;
}
.appt_time_selecter_tag.active{
    color: #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
}

.appt_time_selecter_date,
.appt_time_selecter_time{
    display: none;
}
.appt_time_selecter_date.active,
.appt_time_selecter_time.active{
    display: block;
}

.appt_date_year_container,
.appt_date_month_container{
    width: 100%;
    height: 35px;
    position: relative;
}

.appt_date_y,
.appt_date_m{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #000;
    font-size: 16px;
}

.appt_date_pre_y,
.appt_date_next_y,
.appt_date_pre_m,
.appt_date_next_m{
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.appt_date_pre_y,
.appt_date_pre_m{
    top: 0;
    left: 0;
}
.appt_date_next_y,
.appt_date_next_m{
    top: 0;
    right: 0;
}

.appt_date_d{
    display: inline-block;
    width: 14.285%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #d8d8d8;
    font-size: 16px;
    
}
.appt_date_d.hide{
    opacity: 0;
}
.appt_date_d.avaliable{
    color: #000;
    cursor: pointer;
}

.appt_time{
    height: 50px;
    line-height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}
.appt_time:hover{
    color: #000;
}