#ap *{
    box-sizing: border-box;
}

.appt_type_container{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.appt_type_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: left;
}

.appt_type_title{
    padding-left: 70px;
    font-size: 20px;
}

.appt_type_description{
    padding-left: 70px;
    font-size: 16px;
}

.appt_type_provider_container{
    width: 100%;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.appt_type_provider_icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d8d8d8;
    float: left;
}

.appt_type_provider_name{
    padding-left: 70px;
    font-size: 16px;
}

.appt_type_provider_location{
    padding-left: 70px;
    font-size: 16px;
}
.appt_type_provider_location::before{
    content: "Location";
    margin-right: 10px;
}

.appt_type_provider_phone{
    padding-left: 70px;
    font-size: 16px;
}
.appt_type_provider_phone::before{
    content: "Phone";
    margin-right: 10px;
}

.appt_type_provider_email{
    padding-left: 70px;
    font-size: 16px;
}
.appt_type_provider_email::before{
    content: "E-mail";
    margin-right: 10px;
}

.new_appt_tag{
    display: inline-block;
    width: 33.33%;
    height: 50px;
    line-height: 50px;
    color: #d8d8d8;
    text-align: center;
    border-bottom: 1px solid #000;
}
.new_appt_tag.clickable{
    cursor: pointer;
    color: #000;
}
.new_appt_tag.active{
    color: #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
}

.new_appt_container{
    border: 1px solid #000;
    border-top: none;
    display: none;
    padding-top: 10px;
}
.new_appt_container.active{
    display: block;
}

.appt_time_slot_date_container{
    position: relative;
    width: 100%;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.appt_time_slot_date_tag{
    position: absolute;
    height: 50px;
    width: 160px;
    line-height: 50px;
    text-align: center;
}
.appt_time_slot_date_container:hover>.appt_time_slot_date_tag{
    border-right: 1px solid #000;
}

.appt_time_slot_time_tag_container{
    display: none;
}
.appt_time_slot_date_container:hover>.appt_time_slot_time_tag_container{
    display: block;
    width: auto;
    margin-left: 160px;
}

.appt_time_slot_time_tag{
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    opacity: 0.75;
}
.appt_time_slot_time_tag:hover{
    opacity: 1;
}

.regiser_or_sign_in{
    text-decoration: underline;
    cursor: pointer;
    color: #555;
}
.regiser_or_sign_in:hover{
    color: #000;
}